#assets {
  text-align: center;
}
table {
  border: solid 3px black;
  min-width: 400px;
  width: auto;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}

thead tr {
  background-color: #b4975a;
}

th,
td {
  padding: 10px 5px;
  border: solid black 2px;
}

tbody tr:nth-child(odd) {
  background-color: #00471b;
  color: white;
}
