#assets {
  text-align: center;
}
table {
  border: solid 3px black;
  min-width: 400px;
  width: auto;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}

thead tr {
  background-color: #b4975a;
}

th,
td {
  padding: 10px 5px;
  border: solid black 2px;
}

tbody tr:nth-child(odd) {
  background-color: #00471b;
  color: white;
}

footer {
  margin-top: 200px;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 25px;
  }
  header img {
    margin-left: 40px;
  }
  ul {
    display: flex;
    flex-direction: column;
  }
  table {
    min-width: 100px;
    font-size: 16px;
  }
  h2 {
    font-size: 20px;
  }

  footer {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769) {
  footer {
    margin-top: 200px;
  }

}

@media screen and (min-width: 1025px) {
  footer {
    margin-top: 250px;
  }
}
