#contact {
  margin-left: 30px;
}

.contact-body {
  display: flex;
}

form {
  margin-top: 30px;
}

textarea {
  padding: 10px;
  width: 350px;
  height: 250px;
  overflow: auto;
  margin-top: 30px;
}

input {
  margin: 8px 0px;
}

input[type="submit"] {
  background-color: #00471b;
  color: white;
  border-radius: 10px;
  margin-left: 310px;
}

div img {
  margin: auto;
  height: 300px;
  width: 300px;
}

@media screen and (max-width: 480px) {
  textarea {
    height: 250px;
    width: 210px;
  }
  input[type="submit"] {
    margin: 0px 100px;
  }
  .contact-body {
    display: flex;
    flex-direction: column;
  }

  div img {
    margin: 30px 50px;
    height: 150px;
    width: 150px;
  }
}

@media screen and (min-width: 1025px) {
  div img {
    margin: 200px 400px;
  }
}

@media screen and (min-width: 1920px) {
  footer {
    margin-top: 250px;
  }
  div img {
    margin: 200px 800px;
  }
}
