.pictures {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.pictures img {
  width: 250px;
  height: 350px;
}

p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

p:hover {
  color: #b4975a;
  text-decoration: underline #00471b;
}

footer {
  text-align: center;
  height: 80px;
  border-top: solid 1px #00471b;
}

footer img {
  height: 70px;
  width: 70px;
  margin-top: 5px;
}
