/* Feuille CSS */
/* Importation d'une police via google */
@import url(https://fonts.googleapis.com/css?family=Hurricane|Roboto);
:root {
  font-family: "Roboto", serif, sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #00471b;
  margin: 10px 10px;
}

header img {
  width: 120px;
  height: 120px;
}

a {
  margin: 20px;
  font-family: "Hurricane", serif, sans-serif;
  font-size: 28px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #b4975a;
  text-decoration: underline #00471b;
}

ul {
  display: flex;
  list-style-type: none;
}

h1 {
  text-align: center;
  margin: 220px 0;
  background-color: rgba(255, 255, 2515, 0.4);
  padding: 15px;
}

h2 {
  font-family: "Bigshot One", serif, sans-serif;
  color: #00471b;
  text-decoration: underline black;
}
#hero {
  display: flex;
  flex-direction: column;
}
.welcome {
  background: url("assets/georgia.jpg");
  background-size: cover;
  background-position: center;
}

.about {
  margin: 0px 20px;
}

p {
  text-align: justify;
}

#event {
  display: flex;
  margin: 20px 20px;
}

#event p {
  padding: 0px 20px;
}

#event,
.about {
  text-align: center;
}

.soon {
  flex: 1;
}

.javelin img {
  width: 200px;
  height: 200px;
}

.news {
  margin-left: 2px;
  flex: 1;
  border-left: solid 1px #b4975a;
}
.news img {
  width: 250px;
  height: 250px;
}

footer {
  text-align: center;
  height: 80px;
  border-top: solid 1px #00471b;
}

footer img {
  height: 70px;
  width: 70px;
  margin-top: 5px;
}

@media screen and (max-width: 480px) {
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 25px;
  }
  header img {
    margin-left: 40px;
  }
  ul {
    display: flex;
    flex-direction: column;
  }
  #event {
    display: flex;
    flex-direction: column;
  }
  .news {
    border-style: none;
  }
}
