/* Feuille CSS */

/* Importation d'une police via google */
@import url(https://fonts.googleapis.com/css?family=Bigshot + One);

:root {
  font-size: 18px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px gray;
  margin-bottom: 10px;
}

a {
  margin: 20px;
  font-family: "Bigshot One", serif, sans-serif;
  font-size: 21px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #b4975a;
  text-decoration: underline #00471b;
}

img {
  width: 120px;
  height: 120px;
}

ul {
  display: flex;
  list-style-type: none;
}

h2 {
  font-family: "Bigshot One", serif, sans-serif;
  color: #00471b;
  text-decoration: underline black;
}

#hero {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
}

.welcome {
  background: url("assets/georgia.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
  margin: 220px 0;
  background-color: rgba(255, 255, 2515, 0.4);
  padding: 15px;
}

p {
  text-align: justify;
}

#event {
  display: flex;
  flex-direction: column;
}

article {
  display: flex;
  align-items: center;
}

article img {
  width: 200px;
  height: 250px;
  margin-right: 15px;
}

footer {
  padding: 0px 50%;
}
